.satellite-list {
  padding: 20px;
}

.search-input {
  padding: 5px;
  width: 300px;
}

.message {
  background-color: #333;
  padding: 8px;
}

table {
  border: 1px solid gray;
  width: 100%;
}

th, td {
  padding: 8px;
  border: 1px solid gray;
}

th {
  background-color: #333;
}
